* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: sans-serif;
  color: #1c2840;
  line-height: 1.7;
}

section {
  padding: 2rem 1rem;
  width: 100%;
}

h1 {
  font-size: 2rem;
}

a {
  font-size: 1rem;
  color: #2c2c6c;
  transition: all 0.5s;
}
a:hover {
  color: #4db5ff;
}

.title {
  font-size: 2.3rem;
  color: #4db5ff;
  text-align: center;
}

.btn {
  padding: 0.7rem 1.7rem;
  display: inline-block;
  color: rgba(242, 243, 242, 0.9450980392);
  background: #4db5ff;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  background: #2c2c6c;
  border-color: transparent;
}

.btn-primary {
  background: #1c2840;
  color: #4db5ff;
}

.image img {
  display: block;
  width: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  padding: 4rem 1rem;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}
header .cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
header .header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 4rem;
  bottom: 3rem;
}
header .header-socials::after {
  content: "";
  width: 0.13rem;
  height: 2rem;
  background: #2c2c6c;
}
header .header-socials a {
  font-size: 2rem;
}
header .image {
  position: absolute;
  left: 30%;
  text-align: center;
}

nav {
  background: rgba(0, 0, 0, 0.3);
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 10;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.4rem;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
}
nav a {
  background-color: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: rgba(242, 243, 242, 0.9450980392);
  font-size: 1.2rem;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about .about-container .experince {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-container .experince .box {
  display: flex;
  flex-direction: column;
  background: #2c2c6c;
  border-radius: 1rem;
  padding: 0.7rem;
  margin-left: 1rem;
  text-align: center;
  width: 10rem;
}
.about .about-container .experince .box i {
  font-size: 2rem;
  color: rgba(242, 243, 242, 0.9450980392);
}
.about .about-container .experince .box h6 {
  font-size: 1rem;
  color: #4db5ff;
}
.about .about-container .experince .box p {
  font-size: 0.9rem;
  color: #999;
}
.about .about-container .info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 2rem;
}
.about .about-container .info .text {
  padding: 0.5rem;
  color: #1c2840;
}
.about .about-container .info .text p {
  margin: 1rem 0;
}
.about .about-container .info .text .more-info {
  display: none;
}
.about .about-container .info .text .more-info.show {
  display: inline-block;
}

.skills {
  background: #1c2840;
}
.skills .skills-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 1rem;
}
.skills .skills-container .skill {
  background: #4db5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  animation: color 5s infinite linear;
}
.skills .skills-container .skill i {
  font-size: 4rem;
}
.skills .skills-container .skill h5 {
  font-size: 2rem;
}
.skills .skills-container .skill .green {
  color: rgba(67, 246, 67, 0.575);
}
.skills .skills-container .skill .yellow {
  color: rgba(255, 255, 0, 0.621);
}

@keyframes color {
  10% {
    color: rgba(0, 0, 0, 0.3);
  }
  20% {
    color: rgba(0, 0, 0, 0.4);
  }
  30% {
    color: rgba(0, 0, 0, 0.5);
  }
  40% {
    color: rgba(0, 0, 0, 0.6);
  }
  50% {
    color: rgba(0, 0, 0, 0.7);
  }
  60% {
    color: rgba(0, 0, 0, 0.6);
  }
  70% {
    color: rgba(0, 0, 0, 0.5);
  }
  80% {
    color: rgba(0, 0, 0, 0.4);
  }
  90% {
    color: rgba(0, 0, 0, 0.3);
  }
  100% {
    color: rgba(0, 0, 0, 0.6);
  }
}
.projects {
  background: #2c2c6c;
}
.projects .title {
  color: rgba(242, 243, 242, 0.9450980392);
}
.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  row-gap: 2rem;
  align-items: center;
  justify-items: center;
}
.projects .projects-container .project-box {
  width: 95%;
  overflow: hidden;
  background: #eee;
  padding: 0.6rem;
  border-radius: 1rem 1rem 1rem 0;
  margin: 0.5rem;
  transition: all 0.5s;
}
.projects .projects-container .project-box:hover {
  transform: scale(1.1);
}
.projects .projects-container .project-box img {
  width: 100%;
}
.projects .projects-container .project-box p {
  color: #999;
  padding: 1rem 0;
}
.projects .projects-container .project-box span {
  color: red;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}

.services {
  background: #4c90f5;
}
.services .services-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .services-container .text {
  padding: 2rem;
}
.services .services-container .text h3 {
  font-size: 2.3rem;
  color: #2c2c6c;
  text-align: center;
}
.services .services-container .text p {
  font-size: 1.2rem;
  color: rgba(242, 243, 242, 0.9450980392);
}

.contact .contact-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
.contact .contact-container .contact-options {
  display: flex;
  flex-direction: column;
}
.contact .contact-container .contact-options .box {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  background: #1c2840;
  border-radius: 1rem;
  width: 80%;
}
.contact .contact-container .contact-options .box:hover {
  background: #eee;
}
.contact .contact-container .contact-options .box:hover i, .contact .contact-container .contact-options .box:hover h1, .contact .contact-container .contact-options .box:hover a {
  color: #1c2840;
}
.contact .contact-container .contact-options .box i {
  font-size: 1.5rem;
  color: rgba(242, 243, 242, 0.9450980392);
}
.contact .contact-container .contact-options .box h1 {
  font-size: 1rem;
  color: rgba(242, 243, 242, 0.9450980392);
}
.contact .contact-container .contact-options .box a {
  font-size: 0.8rem;
  color: #999;
}
.contact .contact-container .contact-options .box span {
  color: #4db5ff;
  font-size: 0.9rem;
}
.contact .contact-container .input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-container .input-form input,
.contact .contact-container .input-form textarea {
  height: 3rem;
  border: 0.1rem solid #2c2c6c;
  color: #4db5ff;
  background: transparent;
  border-radius: 0.3rem;
  outline: none;
  margin: 0.5rem;
  padding: 0.2rem;
  width: 90%;
}
.contact .contact-container .input-form textarea {
  max-width: 90%;
  min-height: 8rem;
  resize: none;
}
.contact .contact-container .input-form .btn {
  width: 50%;
  text-align: center;
}

footer {
  padding: 2rem 1rem;
  width: 100%;
  height: 20vh;
  color: rgba(242, 243, 242, 0.9450980392);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c2c6c;
}

@media screen and (max-width: 990px) {
  .image img {
    width: 21rem;
  }
  .about {
    margin-top: 10rem;
  }
  .about .about-container .experince {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0.5rem;
  }
  .about .about-container .info {
    display: inline-block;
  }
  .projects .projects-container {
    grid-template-columns: repeat(2, 50%);
  }
  .services .services-container {
    flex-direction: column;
  }
  .services .services-container .text {
    padding: 0;
  }
  .services .services-container .text h3 {
    font-size: 1.3rem;
  }
  .services .services-container .text p {
    font-size: 0.9rem;
  }
  .services .services-container .image img {
    width: 20rem;
  }
}
@media screen and (max-width: 600px) {
  .image img {
    width: 17rem;
  }
  section {
    margin: 1.2rem 0;
  }
  .title {
    font-size: 1.3rem;
  }
  .btn {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }
  header {
    height: 100vh;
  }
  header .header-socials {
    bottom: -3rem;
    left: 1.3rem;
  }
  header .image {
    left: calc(50% - 10rem);
  }
  header .image img {
    width: 20rem;
  }
  .about .about-container .experince {
    display: block;
  }
  .about .about-container .experince .box {
    margin-bottom: 2rem;
  }
  .skills .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 0.5rem;
  }
  .skills .skills-container .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills .skills-container .skill h1 {
    font-size: 1.2rem;
  }
  .skills .skills-container .skill i {
    font-size: 2rem;
  }
  .skills .skills-container .skill h5 {
    font-size: 1.2rem;
  }
  .projects .projects-container {
    grid-template-columns: repeat(1, 100%);
  }
  .projects .projects-container .project-box {
    width: 17rem;
  }
  .contact .contact-container {
    grid-template-columns: repeat(1, 100%);
  }
  .contact .contact-container .contact-options .box {
    width: 100%;
  }
  .contact .contact-container .input-form input,
  .contact .contact-container .input-form textarea {
    width: 100%;
  }
  .contact .contact-container .input-form textarea {
    max-width: 100%;
  }
  .contact .contact-container .input-form .btn {
    width: 70%;
  }
}
@media screen and (max-width: 350px) {
  .imgage img {
    width: 14rem;
  }
  .about .about-container .experince {
    grid-template-columns: repeat(1, 100%);
    row-gap: 0.5rem;
  }
  .services .services-container .image img {
    width: 15rem;
  }
}/*# sourceMappingURL=style.css.map */